{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}

<!DOCTYPE html>
<head>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    {% block header %}
        <div class="site-header">
        
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class = "container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" 
                            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="navbar-brand mr-4" href="/">WannaBet</a>
                            {% if loggedin != None %}
                                <a class="nav-link mr-3" href="/profile">Profile</a>
                                <a class="nav-link mr-3" href="/feed">Feed</a>
                            {% endif %}
                            <a class="nav-link mr-3" href="/suggestions">Suggestions</a>
                            <a class="nav-link mr-3" href="/search">Search</a>

                        </div>
                    </div>
                
                    <div class="navbar-nav">
                        {% if loggedin == None %}
                            <a class="navbar-brand mr-3 text-muted" href="/login">Login</a>
                            <a class="navbar-brand mr-3 text-muted" href="/register">Register</a>
                        {% else %}
                            <a class="navbar-brand text-muted" href="/logout">Logout</a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
    {% endblock header %}

    {% block content %}
        <p>Content</p>
    {% endblock content %}

    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock scripts %}
</body>