{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}

{% block content %}
    
<div class="container">
    {% for post in posts %}
        <div class="content-section">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="text-muted" href="/users/{{ post.followed_id }}">@{{post.s_name}}</a>
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted text-right">{{ post.post_date }}</p>
                    </div>
                </div>

                <p class="text-muted text-center">Won {{ post.betslip.stake|int }} TL -> {{ (post.betslip.total_odd * post.betslip.stake)|int }} TL </p>


                <table class="table" style="width: 100%;">
                    <tr>
                            <th class="text-muted">Teams</th>
                            <th class="text-muted">Date</th>
                            <th class="text-muted">Type</th>
                            <th class="text-muted">Odd</th>
                    </tr>
                    {% for bet in post.betslip.bets %}
                        <tr>
                            <td class="text-muted">{{ bet.t1name }} vs {{ bet.t2name }}</td>
                            <td class="text-muted">{{ bet.match_date }}</td>
                            <td class="text-muted">{{ bet.bet_type }}</td>
                            <td class="text-muted">{{ bet.odd }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-muted text-left">
                                Total odds {{ post.betslip.total_odd }}
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-right">
                                <a href="/like_post?post_id={{ post.post_id }}" class="text-muted text-rigth">
                                    {{ post.no_of_likes }} Like{{ 's' if post.no_of_likes != 1 }}
                                </a>
                            </div>

                        </div>

                    </div>

                    {% for comment in post.comment %}
                    <p>
                        <!--
                            <a class="text-muted" href="/users/{{ comment.user_id }}">@{{comment.s_name}}</a>
                        -->
                        <a class="text-muted">@{{comment.s_name}}</a>
                        {{ comment.context }}
                    </p>
                    {% endfor %}
                    <div>
                        <form action="/add_comment" method="GET">
                            <input type="hidden" name="post_id" value="{{ post.post_id }}">
                            <input class="form-control" id="context" name="context" required type="text" value="">
                        </form>
                    </div>
                </div>           
            </div>
            <br>
        
        </div>
    {% endfor %}

    
</div>


{% endblock %}

