{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="width: 90%;">
    <div class="row">
        <div class="col-md-8 container">
            <div class="content-section">
                <!--MAIN PANEL-->
                <h4>Current Matches</h4>
                {% include "matchtable.html" %}
            </div>
        </div>
        {% if loggedin != None %}
        <div class="container-fluid col-md-4 container">
            <div class="container">
                <div class="content-section">
                    <!--SIDE PANEL-->
                    {% include "sidepanel.html" %}
                </div>
            </div>
            {% if player_type is defined %}
                {% if player_type == 'editor' %}
                    <div class="container">
                        <div class="content-section">
                            <!--SIDE PANEL-->
                            {% include "suggestionpanel.html" %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% endif %}
    </div>
</div>

{% endblock content %}