{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% from 'bootstrap/nav.html' import render_nav_item %}


{% block content %}
    {{ render_messages() }}
    <div class="content-section">
        {% block legend %}
        <legend class="border-bottom mb-4"> Login</legend>
        {% endblock legend %}
        <form method="post">
            {{ form.csrf_token }}
            {% block user_specific %}
            {{ render_form_row([form.email], col_map= {'email' : 'col-md-5'} ) }}
            {% endblock user_specific %}
            {{ render_form_row([form.password], col_map= {'password' : 'col-md-5'} ) }}         
            
            {{ render_nav_item('adminlogin', 'Admin Login?') }}
            {{ render_form_row([form.submit], button_size ='lg') }}
            
        </form>
    </div>
{% endblock %}




<!--

{{ render_form_row([form.username, form.password]) }}
{{ render_form_row([form.username, form.password], col_map={'username': 'col-md-6', 'password': 'col-md-4'}) }}
{{ render_form_row([form.username, form.password], col_map={'username': 'col-md-2', 'password': 'col-md-8'}) }}
{{ render_form_row([form.username, form.password], col_class_default='col-md-2') }}
{{ render_form_row([form.remember]) }}
{{ render_form_row([form.submit]) }} -->