{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}

<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Home Team</th>
        <th scope="col">Away Team</th>
        <th scope="col">Match Date</th>
      <!--
        <th scope="col">MS1</th>
        <th scope="col">MSX </th>
        <th scope="col">MS2 </th>
        <th scope="col">1.5 ALT</th>
        <th scope="col">1.5 UST</th>
        <th scope="col">2.5 ALT</th>
        <th scope="col">2.5 UST</th>
      -->
      </tr>
    </thead>
    <tbody>
    {% for match in matches %}
    {% set outer_loop = loop %}
      <tr> 
          <td>{{ match.t1name }}</td>
          <td>{{ match.t2name }}</td>
          <td>{{ match.match_date }}</td>

          {% for bet in match.bets %}
          
            <td>
              <a href="/add_selected_bet?col={{ loop.index0 }}&row={{ outer_loop.index0 }}" class="btn text-info" style="padding: 0;">
                {{ bet.bet_type }}
                /
                {{ bet.odd }}
              
                

                  <!-- <input type="submit" name="cancel_button" class="btn btn-info" value="Cancel"> -->
                
              </a>
              

            </td>
     
          {% endfor %}
      </tr>
    {% endfor %}
     
    </tbody>
  </table>